/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #ffffff;
  --background-dark: #0a192f;
  --text-primary-light: #333;
  --text-secondary-light: #666;
  --text-primary-dark: #ccd6f6;
  --text-secondary-dark: #8892b0;
  --accent-color: rgba(72, 219, 251, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
  color: var(--text-secondary-light);
  line-height: 1.3;
}

code {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  color: var(--text-primary-light);
  line-height: 1.1;
}

p {
  margin: 0 0 15px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

section {
  margin: 0 auto;
  padding: 100px 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-secondary-dark);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-primary-dark);
  }
}

/* Import Font Awesome for icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
